.arrow.text-center
  =link_to '#section-mission' do 
    %span.glyphicon.glyphicon-arrow-down


.col-lg-7
  %h1.page-header.header-lead Наш центр
  %p был основан в 1922 году для медико-санитарного обслуживания ветеранов революции, политкаторжан, ответственных работников, членов Коммунистической партии.
  %p А сегодня Геронтологический Центр оказывает социально-медицинские услуги гражданам пожилого возраста и инвалидам, нуждающимся в уходе. Предназначен для постоянного проживания, реабилитации и обслуживания лиц преклонного возраста.
  %p Наш центр расположен на правом берегу реки Сетунь, в лесопарке историко-культурной заповедной зоны "Переделкино", в 10 км от МКАД по Минскому направлению и вблизи от пригородной станции Переделкино (бывшая усадьба бояр Колычевых).
  %p Корпуса Центра живописно располагаются среди паркового ансамбля, плавно спускающегося в сторону реки, на экологически чистой, зеленой с преобладанием хвойного массива, территории.
  %p Отдаленность от промышленных объектов и интенсивного движения автотранспорта обеспечивает чистоту и прозрачность воздуха, приятную тишину и ощущение покоя, что создает прекрасные условия для жизни, лечения и отдыха пожилых людей.Немногие места Подмосковья имеют такую известность, как Переделкино, которое вековыми узами связано с духовной культурой, историческими событиями и выдающимися личностями.
  %p По соседству с Геронтологическим Центром расположены резиденция Патриарха Московского и Всея Руси, храм Спасо-Преображения, поселок писателей "Переделкино", основанный А.М.Горьким, где открыты для читателей литературно-мемориальные музеи Б.Л.Пастернака и К.И.Чуковского. В ста метрах от храма расположено поселковое Переделкинское кладбище, где захоронены всемирно известные писатели - Б.Л.Пастернак, К.И.Чуковский, А.А.Тарковский и многие другие деятели культуры.

.col-lg-5
  %br
  = image_tag ('about1.jpg'), :class=>'img-rounded about'
  %br
  = image_tag ('about3.jpg'), :class=>'img-rounded about'
  %br
  = image_tag ('about2.jpg'), :class=>'img-rounded about'
