
.col-xs-12.col-lg-10.col-lg-offset-1  
  .intro-message.text-center
    %h1
      Всероссийский 
      научно-методический 
      %brГеронтологический Центр 
    %hr.intro-divider  
    %h3
      Федеральное государственное бюджетное  учреждение

.col-lg-12
  .head-arrow.text-center
    =link_to '#main' do 
      %span.glyphicon.glyphicon-chevron-down
    

