%section.section-intro#intro{'data-speed'=>'4', 'data-type'=>'background'}
  = link_to '#main' do 
    .row
      = render 'section_intro'
  
-#%section.section-about#about
-#  .row
-#    = render 'section_about'
-#
-#%section.section-mission#mission
-#  .row
-#    = render 'section_mission'

%section.section-main#main
  .row
    = render 'section_main'