#carousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      = image_tag 'pens.jpg'
      .carousel-caption
        %h3 Наши пенсионеры
    .item
      = image_tag 'pens2.jpg'
      .carousel-caption
        %h3 Наши дедули
    .item
      = image_tag 'pens3.jpg'
      .carousel-caption
        %h3 Наши бабули
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel"}
    %span.glyphicon.glyphicon-chevron-right





.row
  .col-6.col-sm-6.col-lg-4
    %h2 Heading
    %p Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript.
    %p
      %a.btn.btn-default{href: "#"} View details »
    / /span
  .col-6.col-sm-6.col-lg-4
    %h2 Heading
    %p Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design.
    %p
      %a.btn.btn-default{href: "#"} View details »
    / /span
  .col-6.col-sm-6.col-lg-4
    %h2 Heading
    %p Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design.
    %p
      %a.btn.btn-default{href: "#"} View details »  