.container
  .row
    .col-md-3
      %aside.bs-sidebar.affix-top{:role => "complementary"}
        %ul.nav.bs-sidenav
          %li=link_to 'О нас', page_path('about')
    .col-md-9
      %p hai hai
