.jumbotron
  %h1 HAI HAI
  %p LITTLE_BAMBI PRESENTS SUPER WEB_SITE "GERONT"
  %p внизу страницы есть кнопочка "вход", введи меил example@mail.com, пароль: 123456789
.row
  .col-6.col-sm-6.col-lg-4
    %h2 Heading
    %p Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript.
    %p
      %a.btn.btn-default{href: "#"} View details »
    / /span
  .col-6.col-sm-6.col-lg-4
    %h2 Heading
    %p Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design.
    %p
      %a.btn.btn-default{href: "#"} View details »
    / /span
  .col-6.col-sm-6.col-lg-4
    %h2 Heading
    %p Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design.
    %p
      %a.btn.btn-default{href: "#"} View details »  