= provide :title do
  Медицинское обслуживание

.center


  %h1.page-header.text-center.well Медицинское обслуживание и реабилитационные возможности

  %p
    Пользоваться услугами ФГБУ «Всероссийский научно-методический геронтологический центр» могут социально необеспеченные, одинокие граждане пожилого возраста, ветераны войны и труда, инвалиды, частично или полностью утратившие способность к самообслуживанию и нуждающиеся по состоянию здоровья в постоянном уходе и наблюдении.

Ограничения по возрасту: мужчины с 60 лет, женщины с 55 лет;

Ограничения по состоянию здоровья: отсутствие медицинских противопоказаний к обслуживанию в социальных учреждениях, таких как активные формы туберкулеза, хронический алкоголизм, карантинные инфекционные заболевания, тяжелые психические расстройства, венерические и другие заболевания, онкозаболевания в терминальных стадиях.

Документы подаются в Министерство труда и социальной защиты Российской Федерации по адресу: г. Москва, ул. Ильинка, дом 21 Список документов, необходимых для оформления в ФГБУ «Всероссийский научно-методический геронтологический центр»:

Заявление на имя директора Департамента организации социальной защиты населения Министерства труда и социальной защиты России - Самариной О. В. (телефон (495) 606-16-08, факс (495) 606-16-06), в котором необходимо перечислить сведения:
заслуги, награды войны или труда (указать номер удостоверения);
трудовая деятельность;
занимаемая жилая площадь, кто прописан на данной жилой площади;
с какого года на пенсии;
адрес членов семьи;
на какой период поместить в Центр;
ксерокопия паспорта и других представленных документов;
домашний телефон.
Медицинская карта (оформленная согласно образцу). Карта должна быть заверена подписью и печатью лечебного учреждения.
Справка из туберкулезного диспансера о том, что не состоит на учете с указанием последнего срока флюорографического исследования или исследования мокроты на ВК.
Заключение ВКК психоневрологического учреждения (диспансера или больницы) с развернутым диагнозом и указанием рекомендуемого типа интерната (обращаем Ваше внимание, что заключение должно быть полным с развернутым диагнозом, на отдельном бланке, заверено печатью диспансера (больницы) и тремя подписями).
Анализы крови на ВИЧ-инфекцию, RW, маркеры гепатитов В и С (действительны в течение 6 месяцев).
Мазок из зева на дифтерию и анализы на кишечную группу (действительны в течение 10 дней).
Анализы на гельминтозы (действительны в течение 10 дней).
Пользоваться услугами ФГБУ «Всероссийский научно-методический геронтологический центр» могут социально необеспеченные, одинокие граждане пожилого возраста, ветераны войны и труда, инвалиды, частично или полностью утратившие способность к самообслуживанию и нуждающиеся по состоянию здоровья в постоянном уходе и наблюдении.

Ограничения по возрасту: мужчины с 60 лет, женщины с 55 лет;

Ограничения по состоянию здоровья: отсутствие медицинских противопоказаний к обслуживанию в социальных учреждениях, таких как активные формы туберкулеза, хронический алкоголизм, карантинные инфекционные заболевания, тяжелые психические расстройства, венерические и другие заболевания, онкозаболевания в терминальных стадиях.

Документы подаются в Министерство труда и социальной защиты Российской Федерации по адресу: г. Москва, ул. Ильинка, дом 21 Список документов, необходимых для оформления в ФГБУ «Всероссийский научно-методический геронтологический центр»:

Заявление на имя директора Департамента организации социальной защиты населения Министерства труда и социальной защиты России - Самариной О. В. (телефон (495) 606-16-08, факс (495) 606-16-06), в котором необходимо перечислить сведения:
заслуги, награды войны или труда (указать номер удостоверения);
трудовая деятельность;
занимаемая жилая площадь, кто прописан на данной жилой площади;
с какого года на пенсии;
адрес членов семьи;
на какой период поместить в Центр;
ксерокопия паспорта и других представленных документов;
домашний телефон.
Медицинская карта (оформленная согласно образцу). Карта должна быть заверена подписью и печатью лечебного учреждения.
Справка из туберкулезного диспансера о том, что не состоит на учете с указанием последнего срока флюорографического исследования или исследования мокроты на ВК.
Заключение ВКК психоневрологического учреждения (диспансера или больницы) с развернутым диагнозом и указанием рекомендуемого типа интерната (обращаем Ваше внимание, что заключение должно быть полным с развернутым диагнозом, на отдельном бланке, заверено печатью диспансера (больницы) и тремя подписями).
Анализы крови на ВИЧ-инфекцию, RW, маркеры гепатитов В и С (действительны в течение 6 месяцев).
Мазок из зева на дифтерию и анализы на кишечную группу (действительны в течение 10 дней).
Анализы на гельминтозы (действительны в течение 10 дней).

%hr