= provide :title do
  Медицинское обслуживание

.col-lg-12


  %h2.page-header.text-center Медицинское обслуживание и реабилитационные возможности

  %p
    Пользоваться услугами ФГБУ «Всероссийский научно-методический геронтологический центр» могут социально необеспеченные, одинокие граждане пожилого возраста, ветераны войны и труда, инвалиды, частично или полностью утратившие способность к самообслуживанию и нуждающиеся по состоянию здоровья в постоянном уходе и наблюдении.

    Ограничения по возрасту: мужчины с 60 лет, женщины с 55 лет;

    Ограничения по состоянию здоровья: отсутствие медицинских противопоказаний к обслуживанию в социальных учреждениях, таких как активные формы туберкулеза, хронический алкоголизм, карантинные инфекционные заболевания, тяжелые психические расстройства, венерические и другие заболевания, онкозаболевания в терминальных стадиях.

    Документы подаются в Министерство труда и социальной защиты Российской Федерации по адресу: г. Москва, ул. Ильинка, дом 21 Список документов, необходимых для оформления в ФГБУ «Всероссийский научно-методический геронтологический центр»:

    Заявление на имя директора Департамента организации социальной защиты населения Министерства труда и социальной защиты России - Самариной О. В. (телефон (495) 606-16-08, факс (495) 606-16-06), в котором необходимо перечислить сведения:
    заслуги, награды войны или труда (указать номер удостоверения);
    трудовая деятельность;
    занимаемая жилая площадь, кто прописан на данной жилой площади;
    с какого года на пенсии;
    какой период поместить в Центр;


  %hr