.col-lg-4
  = image_tag ('mission1.JPG'), :class=>'img-rounded mission'
  = image_tag ('mission2.jpg'), :class=>'img-rounded mission'


.col-lg-8
  %h1.page-header.header-lead.text-center Главная цель,
  %p которую преследует Геронтологический Центр – максимально возможное продление активности у людей пожилого возраста. Мы стараемся зарядить наших ветеранов оптимизмом и верой в собственные силы. Ведь жизненный потенциал не угасает с годами, и мы своей деятельностью доказываем это. Пожилые люди имеют право на полноценную жизнь, и мы помогаем реализовывать его.
  %p  Досуг проживающих в ГЦ «Переделкино» окрашен массой культурных мероприятий, проводимых как сотрудниками центра, так и проживающими:
  %ul
    %li
      Традиционные спортивные соревнования 3-х поколений: команда ветеранов, команда сотрудников, команда детей и внуков сотрудников;
    %li
      «Проводы русской зимы». (Веселый праздник с блинами, сожжением чучела, многочисленными конкурсами и раздачей памятных сувениров);
    %li
      Праздничные концерты, посвященные Дню Победы, Дню Защитника Отечества, Дню пожилых, Новогоднему празднику, Международному женскому дню и другим праздникам и знаменательным датам.
    %li
      Тематические вечера (с просмотрами кинофильмов в киноконцертном зале), встречи по «интересам».
  
  %p.lead  Наш геронтологический центр призван помочь не только пожилому человеку вернуть веру в себя и свои силы. Он так же освободит вас от тяжелого бремени ухода и волнений, что в ваше отсутствие с родным человеком, может что-то произойти.
