- content_for :title do 
  О центре

%section.section-about#about
  .row
    = render 'pages/section_about'  

%section.section-mission#mission
  .row
    = render 'pages/section_mission' 

%section.section-chief#chief
  .row