- content_for :title do
  Наши партнеры
.jumbotron
  %h1 Наши партнеры:
  %p Как и прежде самые видные партнеры среди всех наших парнеров это: Кащенко, Сеченовка, ЦЕРН, КГБ, ЦРУ, ЛИТТЛ_БАМБИ. А дальше бесполезный текст...
.row
  .col-6.col-sm-6.col-lg-4
    %h2 Heading
    %p Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript.
    %p
      %a.btn.btn-default{href: "#"} View details »
    / /span
  .col-6.col-sm-6.col-lg-4
    %h2 Heading
    %p Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design.
    %p
      %a.btn.btn-default{href: "#"} View details »

  
