/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fonts.css.scss
 *= require bootsy
 *= require_tree .
 */

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothaProReg.otf');
    src: url('fonts/GothaProReg.otf?#iefix') format('opentype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothaProBla.otf');
    src: url('fonts/GothaProBla.otf?#iefix') format('opentype');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothaProMed.otf');
    src: url('fonts/GothaProMed.otf?#iefix') format('opentype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothaProLig.otf');
    src: url('fonts/GothaProLig.otf?#iefix') format('opentype');
    font-weight: 200;
    font-style: normal;
}
