/*
 * Style tweaks
 * --------------------------------------------------
 */


.jubmotron {
  background: url(image_path('back.png'));
}

/*.content-section {
  border-top: 1px solid grey;
}*/

.page-content {
  height: 100%;
}



.vr-left {
  border-left: 1px solid #eeeeee;
}
.vr-right {
  border-right: 1px solid #eeeeee;
}




.mar-r {
  margin-top: 5px;
  margin-right: 5px;
}
.mar-l {
  margin-left: 5px;
}

#nav.affix {
    position: fixed;
    max-width: auto;
    top: 0%;
}
#nav.affix-top {
  position: static;
  width: 123%;
}


.nav-pills {

}