/*
 * Style tweaks
 * --------------------------------------------------
 */


body, html {
  height: 100%;
  width: 100%; 
  background: rgba(34, 34, 34, 1);
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}



.lead {
  font-size: 18px;
  font-weight: 200;
}


.content-section {
  padding: 3% 2% 3% 2%;
}

.page-content {
  height: 100%;
  background-image: url(image_path('grey.png'));
}



.vr-left {
  border-left: 1px solid #eeeeee;
}
.vr-right {
  border-right: 1px solid #eeeeee;
}




.mar-r {
  margin-top: 5px;
  margin-right: 5px;
}
.mar-l {
  margin-left: 5px;
}

#nav.affix {
    position: fixed;
    max-width: auto;
    top: 0%;
}
#nav.affix-top {
  position: static;
  width: 123%;
}

