@font-face {
    font-family: 'Gotham';
    src: font-url('/assets/GothaProReg.otf');
    src: font-url('/assets/GothaProReg.otf?#iefix') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: font-url('/assets/GothaProBla.otf');
    src: font-url('/assets/GothaProBla.otf?#iefix') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: font-url('/assets/GothaProMed.otf');
    src: font-url('/assets/GothaProMed.otf?#iefix') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: font-url('/assets/GothaProLig.otf');
    src: font-url('/assets/GothaProLig.otf?#iefix') format('opentype');
    font-weight: normal;
    font-style: normal;
}
