@font-face {
    font-family: 'Gotham';
    src: font-url('/assets/GothaProReg.otf');
    src: font-url('/assets/GothaProReg.otf?#iefix') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: font-url('/assets/GothaProBla.otf');
    src: font-url('/assets/GothaProBla.otf?#iefix') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: font-url('/assets/GothaProMed-e3fa19b9535ef4f6d45e0cecb6c9bf07.otf');
    src: font-url('/assets/GothaProMed-e3fa19b9535ef4f6d45e0cecb6c9bf07.otf?#iefix') format('opentype');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'Gotham';
    src: font-url('/assets/GothaProLig.otf');
    src: font-url('/assets/GothaProLig.otf?#iefix') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*/