// import the CSS framework
@import "bootstrap";

img {
  @extend .img-responsive;
  margin: 0 auto;
}

body, html {
  height: 100%;
  width: 100%; 
  background: rgba(43, 25, 63, 1);
  /*background-image: url(image_path('roses.jpg'));*/
}


body, h1, h2, h3, h4, h5, h6 {
  font-family:'GothaProMed' !important; /*'Exo 2' "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 200;
}

.lead {
  font-size: 19px;
  font-weight: 200;
}

