// import the CSS framework
@import "bootstrap";

 


img {
  @extend .img-responsive;
  margin: 0 auto;
}

body, html {
  height: 100%;
  width: 100%; 
  background: #fff;
  font-family: 'Open Sans';
  font-weight: 400;
  /*background-image: url(image_path('roses.jpg'));*/
}


body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  font-weight: 400;
  /*'Exo 2' "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  color: #3A3045;
}

.header-lead {
  font-size: 45px;
  font-weight: 300;
}

.jumbotron {
  background-color: #fff;
  /*background-image: url(image_path('stripes.png'));*/
}
