.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    margin-right: 1.8%;
    transition: all .4s ease 0s;
    height: 100%;
    width: auto;
}

#sidebar-wrapper {
    margin-left: -210px;
    left: 70px;
    width: 210px;
    background: rgba(43, 25, 63, 1) /*rgba(34, 34, 34, 1)*/;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    /*border-right: 2px rgba(41, 23, 61, 0.1);*/
}

.sidebar-nav {
    display: block;
    float: right;
    width: 210px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
#content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: auto;
    height: auto;
    background: url(image_path('grey.png'));
}
#wrapper.active {
    padding-left: 210px;
}
#wrapper.active #sidebar-wrapper {
    left: 210px;
}


#sidebar_menu li a, .sidebar-nav li a {
    color: #888;
    display: block;
    float: left;
    text-decoration: none;
    width: 210px;
    background: rgba(43, 25, 63, 1) /*rgba(37, 37, 37, 1)*/;
    /*border-top: 1px solid rgba(0, 58, 42, 1);
    border-bottom: 1px solid rgba(0, 38, 22, 1);*/
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
    text-align: right;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}



.menu-item {
  margin-right: 40px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav > .home {
    height: 50px;
    line-height: 45px;
    padding-bottom: 60px;
}

.sidebar-nav > .admin {
    height: 75px;
    line-height: 75px;
}

.sidebar-nav li a {
  color: #999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  /*background: rgba(0, 71, 56, 0.9);*/
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;

}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main-icon
{
  float:right;
   padding-right: 15px;
   padding-top:20px;
   padding-left: 16px;
}
.sub-icon
{
   float:right;
   
   margin-right: 15px;
   padding-top:12px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 h2 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:991px) {
  #wrapper {
    padding-left: 45px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper {
    left: 200px;

  }
  .sidebar-nav {
    display: block;
    float: right;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #sidebar_menu li a, .sidebar-nav li a {
    display: block;
    float: left;
    text-align: right;
    text-decoration: none;
    width: 200px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
  }


  .sidebar-nav > .admin {
      height: 40px;
      line-height: 40px;
  }

  #main-icon{
    float:right;
    padding-right: 11px;
    margin-right: 0px;
    padding-top:20px;
  }
  .sub-icon {
    float:right;
    padding-right: 0px;
    margin-right: -4px;
    padding-top:12px;
  }

  #wrapper.active {
    padding-left: 45px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 110px;
    width: 145px;
    transition: all .4s ease 0s;
  }
}
