%header.masthead.geront-header
  .container
    .row
      .col-xs-12.col-sm-6.col-md-3.col-lg-3
        %h4.text-center
          = link_to "Всероссийский научно-исследовательский геронтологический центр.", root_path
        %h4.text-center.hidden-xs Федеральное государственное бюджетное учреждение
      .col-md-6.col-lg-6.hidden-xs.hidden-sm
      -# = image_tag ('geront.JPG'), :class=>'geront-header'
      .col-xs-12.col-sm-6.col-md-3.col-lg-3
        %h4.text-center
          = link_to "Москва, 7-я Лазенки, дом 12, 119619", contacts_path
        %ul.nav.list-group.text-center.hidden-xs
          %li.list-group-item (495)-435-02-88 
          %li.list-group-item (495)-435-02-88 
