%header.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      = link_to 'ФГБУ "ВНМГЦ"', root_path, class:'navbar-brand'