.head-section.hidden-xs
  .row.intro-header
    .col-lg-2.col-md-offset-8.col-sm-offset-8
      .head-arrow
        =link_to '#section-about' do 
          %span.glyphicon.glyphicon-arrow-down
    .col-lg-10.col-lg-offset-1  
      .intro-message.text-center
        %h1
          Всероссийский 
          Научно-Методический 
          %brГеронтологический Центр 
        %h3
          Федеральное государственное бюджетное  учреждение
        %hr.intro-divider
        %h3 ФГБУ "ВНМГЦ"

