#page-content-wrapper
  .page-content.inset
    .row

      - if params[:controller]=='visitors'
        = render 'layouts/intro_header'
      .col-lg-12
        .content-section{name: 'content-section'}

          = render 'layouts/messages'
          = yield
        %hr
        = render 'layouts/footer'