#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{role: "navigation"}
  .well.sidebar-nav
    %p.visible-xs
      %button.btn.btn-primary.btn-xs.pull-right{"data-toggle" => "offcanvas",type: "button"}
        %i.glyphicon.glyphicon-chevron-left   
    %ul.nav
      %hr
      %li.active
        =link_to 'О нас', page_path('about')
      %li
        =link_to 'Партнеры', page_path('partners')
      %li
        =link_to 'Bambi'
      %li
        =link_to 'Bombo'
      %li
        =link_to 'Bumbe'
      
